@import "variables";

.wrapper {
  display: grid;
  row-gap: $grid_gap;
  grid-column-gap: $grid_gap;
  grid: repeat(3, map_get($grid_settings, gridHeight)) / repeat(10, map_get($grid_settings, gridWidth));

  .grid-item {
    border: 1px solid darkgrey;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0 #808080d4;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    &.pair {
      box-shadow: 1px 1px 5px 0 rgba(23, 120, 128, 0.83);
      border-color: rgba(23, 120, 128, 0.83);
    }

    &:not(.pair):hover {
      box-shadow: 2px 2px 1px 0 #808080d4;;
    }
  }
}
