<div class="container">
  <div class="wrapper">
    <div
      *ngFor="let mahjongItem of gameItems"
      class="grid-item justify-content-center align-items-center"
      [ngClass]="{
        pair: mahjongItem.isPair
      }"
    >
      <app-game-item
        [mahjongItem]="mahjongItem"
        (selectItemOutput)="selectedItem($event)"
      ></app-game-item>
    </div>
  </div>
</div>
